@font-face {
    font-family: 'Pathway Gothic One';
    src: url('../fonts/PathwayGothicOne-Regular.woff2') format('woff2'),
        url('../fonts/PathwayGothicOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}